/* CSS con nombres definidos para que se pueda construir el nombre de la clase dinamicamente
*/
.color-rojo{
	background: red;
	color: #fff;
}
.color-verde{
	background: green;
	color: #fff;
}
.color-amarillo{
	background: yellow;
}
.color-azul{
	background: blue;
	color: #fff;
}
