html, body{
    height: 100%;
}

body{
    margin: 0;
}

div {
    height: 100%;
    background-color: #2eb398;
    color: white;
    font-size: 22px;
}

p {
    text-align: left;
    margin-top: auto;
    margin-bottom: auto;
}